<div class="col s12">

<div class="row">
  <div class="col s6 teal lighten-2">

    <div class='menu-container'>

        {{#each items as |item|}}

        <div class="card-panel tan">
       
          <div class='card-panel'>
            {{item_image}}
          </div>
     
          <div class='card-panel'>
            <h5>{{item_title}}</h5>
          </div>

          <div class="card-panel">
            <h6>{{item_description}}</h6>
          </div>
     
            <div class="navbar">
              <button>Edit</button>
              <button>Delete</button>
            </div>
        </div>
        {{/each}}
    </div>
  </div>

     
     <div class="col s6 blue">

        <div class='add-item-container'>

          <div class="card-panel center-align">
          <h4>
            Create a new post!
          </h4>
          </div>

          <div class="card-panel">
          <form class='new-item-form'>
            <label for='item_image'>
              Image:
            </label>
            <br />
            <textarea id='item_image' name='item_image' rows='2' cols='30'>
              {{item_image}}
            </textarea>
            <br />
             <label for='item_title'>
              Title:
            </label>
            <br />
            <textarea id='item_title' name='item_title' rows='2' cols='30'>
              {{item_title}}
            </textarea>
            <br />
            <label for='item_description'>
              Description:
            </label>
            <br />
            <textarea id='item_description' name='item_description' rows='5' cols='30'>
              {{item_description}}
            </textarea>
            <br />
            <button id="addPostButton" type='submit' value='Submit'>
              POST!
            </button>
          </form>
          </div>
        </div>
      </div>
    </div>
    </div>

<!-- This is the form for adding a new item! -->
<script src='js/add-item.js'></script>
